<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhzc.app.system.mybatis.inter.UserMapper" >
  <resultMap id="BaseResultMap" type="com.fhzc.app.system.mybatis.model.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="login" property="login" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="passport_type_id" property="passportTypeId" jdbcType="INTEGER" />
    <result column="passport_code" property="passportCode" jdbcType="VARCHAR" />
    <result column="passport_agent" property="passportAgent" jdbcType="VARCHAR" />
    <result column="passport_address" property="passportAddress" jdbcType="VARCHAR" />
    <result column="passport_expire" property="passportExpire" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="phone_ext" property="phoneExt" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="login_role" property="loginRole" jdbcType="CHAR" />
    <result column="device_uuid" property="deviceUuid" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    `uid`, `login`, `password`, `realname`, `gender`, `birthday`, `passport_type_id`, 
    `passport_code`, `passport_agent`, `passport_address`, `passport_expire`, `mobile`, 
    `phone`, `phone_ext`, `email`, `address`, `login_role`, `device_uuid`, `area_id`, 
    `is_del`, `ctime`, `avatar`
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fhzc.app.system.mybatis.model.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `user`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `user`
    where `uid` = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `user`
    where `uid` = #{uid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fhzc.app.system.mybatis.model.UserExample" >
    delete from `user`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fhzc.app.system.mybatis.model.User" >
    insert into `user` (`uid`, `login`, `password`, 
      `realname`, `gender`, `birthday`, 
      `passport_type_id`, `passport_code`, `passport_agent`, 
      `passport_address`, `passport_expire`, `mobile`, 
      `phone`, `phone_ext`, `email`, 
      `address`, `login_role`, `device_uuid`, 
      `area_id`, `is_del`, `ctime`, 
      `avatar`)
    values (#{uid,jdbcType=INTEGER}, #{login,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{birthday,jdbcType=DATE}, 
      #{passportTypeId,jdbcType=INTEGER}, #{passportCode,jdbcType=VARCHAR}, #{passportAgent,jdbcType=VARCHAR}, 
      #{passportAddress,jdbcType=VARCHAR}, #{passportExpire,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{phoneExt,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{loginRole,jdbcType=CHAR}, #{deviceUuid,jdbcType=VARCHAR}, 
      #{areaId,jdbcType=INTEGER}, #{isDel,jdbcType=TINYINT}, #{ctime,jdbcType=TIMESTAMP}, 
      #{avatar,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fhzc.app.system.mybatis.model.User" >
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        `uid`,
      </if>
      <if test="login != null" >
        `login`,
      </if>
      <if test="password != null" >
        `password`,
      </if>
      <if test="realname != null" >
        `realname`,
      </if>
      <if test="gender != null" >
        `gender`,
      </if>
      <if test="birthday != null" >
        `birthday`,
      </if>
      <if test="passportTypeId != null" >
        `passport_type_id`,
      </if>
      <if test="passportCode != null" >
        `passport_code`,
      </if>
      <if test="passportAgent != null" >
        `passport_agent`,
      </if>
      <if test="passportAddress != null" >
        `passport_address`,
      </if>
      <if test="passportExpire != null" >
        `passport_expire`,
      </if>
      <if test="mobile != null" >
        `mobile`,
      </if>
      <if test="phone != null" >
        `phone`,
      </if>
      <if test="phoneExt != null" >
        `phone_ext`,
      </if>
      <if test="email != null" >
        `email`,
      </if>
      <if test="address != null" >
        `address`,
      </if>
      <if test="loginRole != null" >
        `login_role`,
      </if>
      <if test="deviceUuid != null" >
        `device_uuid`,
      </if>
      <if test="areaId != null" >
        `area_id`,
      </if>
      <if test="isDel != null" >
        `is_del`,
      </if>
      <if test="ctime != null" >
        `ctime`,
      </if>
      <if test="avatar != null" >
        `avatar`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="login != null" >
        #{login,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="passportTypeId != null" >
        #{passportTypeId,jdbcType=INTEGER},
      </if>
      <if test="passportCode != null" >
        #{passportCode,jdbcType=VARCHAR},
      </if>
      <if test="passportAgent != null" >
        #{passportAgent,jdbcType=VARCHAR},
      </if>
      <if test="passportAddress != null" >
        #{passportAddress,jdbcType=VARCHAR},
      </if>
      <if test="passportExpire != null" >
        #{passportExpire,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="phoneExt != null" >
        #{phoneExt,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="loginRole != null" >
        #{loginRole,jdbcType=CHAR},
      </if>
      <if test="deviceUuid != null" >
        #{deviceUuid,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fhzc.app.system.mybatis.model.UserExample" resultType="java.lang.Integer" >
    select count(*) from `user`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `user`
    <set >
      <if test="record.uid != null" >
        `uid` = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.login != null" >
        `login` = #{record.login,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        `password` = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null" >
        `realname` = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        `gender` = #{record.gender,jdbcType=CHAR},
      </if>
      <if test="record.birthday != null" >
        `birthday` = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.passportTypeId != null" >
        `passport_type_id` = #{record.passportTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.passportCode != null" >
        `passport_code` = #{record.passportCode,jdbcType=VARCHAR},
      </if>
      <if test="record.passportAgent != null" >
        `passport_agent` = #{record.passportAgent,jdbcType=VARCHAR},
      </if>
      <if test="record.passportAddress != null" >
        `passport_address` = #{record.passportAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.passportExpire != null" >
        `passport_expire` = #{record.passportExpire,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        `mobile` = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        `phone` = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneExt != null" >
        `phone_ext` = #{record.phoneExt,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        `email` = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        `address` = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.loginRole != null" >
        `login_role` = #{record.loginRole,jdbcType=CHAR},
      </if>
      <if test="record.deviceUuid != null" >
        `device_uuid` = #{record.deviceUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null" >
        `area_id` = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null" >
        `is_del` = #{record.isDel,jdbcType=TINYINT},
      </if>
      <if test="record.ctime != null" >
        `ctime` = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.avatar != null" >
        `avatar` = #{record.avatar,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `user`
    set `uid` = #{record.uid,jdbcType=INTEGER},
      `login` = #{record.login,jdbcType=VARCHAR},
      `password` = #{record.password,jdbcType=VARCHAR},
      `realname` = #{record.realname,jdbcType=VARCHAR},
      `gender` = #{record.gender,jdbcType=CHAR},
      `birthday` = #{record.birthday,jdbcType=DATE},
      `passport_type_id` = #{record.passportTypeId,jdbcType=INTEGER},
      `passport_code` = #{record.passportCode,jdbcType=VARCHAR},
      `passport_agent` = #{record.passportAgent,jdbcType=VARCHAR},
      `passport_address` = #{record.passportAddress,jdbcType=VARCHAR},
      `passport_expire` = #{record.passportExpire,jdbcType=VARCHAR},
      `mobile` = #{record.mobile,jdbcType=VARCHAR},
      `phone` = #{record.phone,jdbcType=VARCHAR},
      `phone_ext` = #{record.phoneExt,jdbcType=VARCHAR},
      `email` = #{record.email,jdbcType=VARCHAR},
      `address` = #{record.address,jdbcType=VARCHAR},
      `login_role` = #{record.loginRole,jdbcType=CHAR},
      `device_uuid` = #{record.deviceUuid,jdbcType=VARCHAR},
      `area_id` = #{record.areaId,jdbcType=INTEGER},
      `is_del` = #{record.isDel,jdbcType=TINYINT},
      `ctime` = #{record.ctime,jdbcType=TIMESTAMP},
      `avatar` = #{record.avatar,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhzc.app.system.mybatis.model.User" >
    update `user`
    <set >
      <if test="login != null" >
        `login` = #{login,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        `realname` = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        `gender` = #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        `birthday` = #{birthday,jdbcType=DATE},
      </if>
      <if test="passportTypeId != null" >
        `passport_type_id` = #{passportTypeId,jdbcType=INTEGER},
      </if>
      <if test="passportCode != null" >
        `passport_code` = #{passportCode,jdbcType=VARCHAR},
      </if>
      <if test="passportAgent != null" >
        `passport_agent` = #{passportAgent,jdbcType=VARCHAR},
      </if>
      <if test="passportAddress != null" >
        `passport_address` = #{passportAddress,jdbcType=VARCHAR},
      </if>
      <if test="passportExpire != null" >
        `passport_expire` = #{passportExpire,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        `mobile` = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        `phone` = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="phoneExt != null" >
        `phone_ext` = #{phoneExt,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        `email` = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        `address` = #{address,jdbcType=VARCHAR},
      </if>
      <if test="loginRole != null" >
        `login_role` = #{loginRole,jdbcType=CHAR},
      </if>
      <if test="deviceUuid != null" >
        `device_uuid` = #{deviceUuid,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        `area_id` = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        `is_del` = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="ctime != null" >
        `ctime` = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatar != null" >
        `avatar` = #{avatar,jdbcType=VARCHAR},
      </if>
    </set>
    where `uid` = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhzc.app.system.mybatis.model.User" >
    update `user`
    set `login` = #{login,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `realname` = #{realname,jdbcType=VARCHAR},
      `gender` = #{gender,jdbcType=CHAR},
      `birthday` = #{birthday,jdbcType=DATE},
      `passport_type_id` = #{passportTypeId,jdbcType=INTEGER},
      `passport_code` = #{passportCode,jdbcType=VARCHAR},
      `passport_agent` = #{passportAgent,jdbcType=VARCHAR},
      `passport_address` = #{passportAddress,jdbcType=VARCHAR},
      `passport_expire` = #{passportExpire,jdbcType=VARCHAR},
      `mobile` = #{mobile,jdbcType=VARCHAR},
      `phone` = #{phone,jdbcType=VARCHAR},
      `phone_ext` = #{phoneExt,jdbcType=VARCHAR},
      `email` = #{email,jdbcType=VARCHAR},
      `address` = #{address,jdbcType=VARCHAR},
      `login_role` = #{loginRole,jdbcType=CHAR},
      `device_uuid` = #{deviceUuid,jdbcType=VARCHAR},
      `area_id` = #{areaId,jdbcType=INTEGER},
      `is_del` = #{isDel,jdbcType=TINYINT},
      `ctime` = #{ctime,jdbcType=TIMESTAMP},
      `avatar` = #{avatar,jdbcType=VARCHAR}
    where `uid` = #{uid,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.fhzc.app.system.mybatis.model.UserExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `user`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>