<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhzc.app.dao.mybatis.inter.PlannerMapper" >
  <resultMap id="BaseResultMap" type="com.fhzc.app.dao.mybatis.model.Planner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="work_num" property="workNum" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="entry_time" property="entryTime" jdbcType="DATE" />
    <result column="leave_time" property="leaveTime" jdbcType="DATE" />
    <result column="md_uid" property="mdUid" jdbcType="INTEGER" />
    <result column="sub_mg_uid" property="subMgUid" jdbcType="INTEGER" />
    <result column="mg_uid" property="mgUid" jdbcType="INTEGER" />
    <result column="area_uid" property="areaUid" jdbcType="INTEGER" />
    <result column="dept_1" property="dept1" jdbcType="INTEGER" />
    <result column="dept_2" property="dept2" jdbcType="INTEGER" />
    <result column="dept_3" property="dept3" jdbcType="INTEGER" />
    <result column="dept_4" property="dept4" jdbcType="INTEGER" />
    <result column="job_title_cn" property="jobTitleCn" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    `id`, `uid`, `work_num`, `department_id`, `avatar`, `status`, `role_id`, `entry_time`, 
    `leave_time`, `md_uid`, `sub_mg_uid`, `mg_uid`, `area_uid`, `dept_1`, `dept_2`, `dept_3`, 
    `dept_4`, `job_title_cn`, `position`
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fhzc.app.dao.mybatis.model.PlannerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `planner`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `planner`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `planner`
    where `uid` = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `planner`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fhzc.app.dao.mybatis.model.PlannerExample" >
    delete from `planner`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fhzc.app.dao.mybatis.model.Planner" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `planner` (`uid`, `work_num`, `department_id`, 
      `avatar`, `status`, `role_id`, 
      `entry_time`, `leave_time`, `md_uid`, 
      `sub_mg_uid`, `mg_uid`, `area_uid`, 
      `dept_1`, `dept_2`, `dept_3`, 
      `dept_4`, `job_title_cn`, `position`
      )
    values (#{uid,jdbcType=INTEGER}, #{workNum,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER}, 
      #{avatar,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{roleId,jdbcType=INTEGER}, 
      #{entryTime,jdbcType=DATE}, #{leaveTime,jdbcType=DATE}, #{mdUid,jdbcType=INTEGER}, 
      #{subMgUid,jdbcType=INTEGER}, #{mgUid,jdbcType=INTEGER}, #{areaUid,jdbcType=INTEGER}, 
      #{dept1,jdbcType=INTEGER}, #{dept2,jdbcType=INTEGER}, #{dept3,jdbcType=INTEGER}, 
      #{dept4,jdbcType=INTEGER}, #{jobTitleCn,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fhzc.app.dao.mybatis.model.Planner" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `planner`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        `uid`,
      </if>
      <if test="workNum != null" >
        `work_num`,
      </if>
      <if test="departmentId != null" >
        `department_id`,
      </if>
      <if test="avatar != null" >
        `avatar`,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="roleId != null" >
        `role_id`,
      </if>
      <if test="entryTime != null" >
        `entry_time`,
      </if>
      <if test="leaveTime != null" >
        `leave_time`,
      </if>
      <if test="mdUid != null" >
        `md_uid`,
      </if>
      <if test="subMgUid != null" >
        `sub_mg_uid`,
      </if>
      <if test="mgUid != null" >
        `mg_uid`,
      </if>
      <if test="areaUid != null" >
        `area_uid`,
      </if>
      <if test="dept1 != null" >
        `dept_1`,
      </if>
      <if test="dept2 != null" >
        `dept_2`,
      </if>
      <if test="dept3 != null" >
        `dept_3`,
      </if>
      <if test="dept4 != null" >
        `dept_4`,
      </if>
      <if test="jobTitleCn != null" >
        `job_title_cn`,
      </if>
      <if test="position != null" >
        `position`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="workNum != null" >
        #{workNum,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="entryTime != null" >
        #{entryTime,jdbcType=DATE},
      </if>
      <if test="leaveTime != null" >
        #{leaveTime,jdbcType=DATE},
      </if>
      <if test="mdUid != null" >
        #{mdUid,jdbcType=INTEGER},
      </if>
      <if test="subMgUid != null" >
        #{subMgUid,jdbcType=INTEGER},
      </if>
      <if test="mgUid != null" >
        #{mgUid,jdbcType=INTEGER},
      </if>
      <if test="areaUid != null" >
        #{areaUid,jdbcType=INTEGER},
      </if>
      <if test="dept1 != null" >
        #{dept1,jdbcType=INTEGER},
      </if>
      <if test="dept2 != null" >
        #{dept2,jdbcType=INTEGER},
      </if>
      <if test="dept3 != null" >
        #{dept3,jdbcType=INTEGER},
      </if>
      <if test="dept4 != null" >
        #{dept4,jdbcType=INTEGER},
      </if>
      <if test="jobTitleCn != null" >
        #{jobTitleCn,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fhzc.app.dao.mybatis.model.PlannerExample" resultType="java.lang.Integer" >
    select count(*) from `planner`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `planner`
    <set >
      <if test="record.id != null" >
        `id` = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        `uid` = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.workNum != null" >
        `work_num` = #{record.workNum,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null" >
        `department_id` = #{record.departmentId,jdbcType=INTEGER},
      </if>
      <if test="record.avatar != null" >
        `avatar` = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.roleId != null" >
        `role_id` = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.entryTime != null" >
        `entry_time` = #{record.entryTime,jdbcType=DATE},
      </if>
      <if test="record.leaveTime != null" >
        `leave_time` = #{record.leaveTime,jdbcType=DATE},
      </if>
      <if test="record.mdUid != null" >
        `md_uid` = #{record.mdUid,jdbcType=INTEGER},
      </if>
      <if test="record.subMgUid != null" >
        `sub_mg_uid` = #{record.subMgUid,jdbcType=INTEGER},
      </if>
      <if test="record.mgUid != null" >
        `mg_uid` = #{record.mgUid,jdbcType=INTEGER},
      </if>
      <if test="record.areaUid != null" >
        `area_uid` = #{record.areaUid,jdbcType=INTEGER},
      </if>
      <if test="record.dept1 != null" >
        `dept_1` = #{record.dept1,jdbcType=INTEGER},
      </if>
      <if test="record.dept2 != null" >
        `dept_2` = #{record.dept2,jdbcType=INTEGER},
      </if>
      <if test="record.dept3 != null" >
        `dept_3` = #{record.dept3,jdbcType=INTEGER},
      </if>
      <if test="record.dept4 != null" >
        `dept_4` = #{record.dept4,jdbcType=INTEGER},
      </if>
      <if test="record.jobTitleCn != null" >
        `job_title_cn` = #{record.jobTitleCn,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null" >
        `position` = #{record.position,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `planner`
    set `id` = #{record.id,jdbcType=INTEGER},
      `uid` = #{record.uid,jdbcType=INTEGER},
      `work_num` = #{record.workNum,jdbcType=VARCHAR},
      `department_id` = #{record.departmentId,jdbcType=INTEGER},
      `avatar` = #{record.avatar,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=CHAR},
      `role_id` = #{record.roleId,jdbcType=INTEGER},
      `entry_time` = #{record.entryTime,jdbcType=DATE},
      `leave_time` = #{record.leaveTime,jdbcType=DATE},
      `md_uid` = #{record.mdUid,jdbcType=INTEGER},
      `sub_mg_uid` = #{record.subMgUid,jdbcType=INTEGER},
      `mg_uid` = #{record.mgUid,jdbcType=INTEGER},
      `area_uid` = #{record.areaUid,jdbcType=INTEGER},
      `dept_1` = #{record.dept1,jdbcType=INTEGER},
      `dept_2` = #{record.dept2,jdbcType=INTEGER},
      `dept_3` = #{record.dept3,jdbcType=INTEGER},
      `dept_4` = #{record.dept4,jdbcType=INTEGER},
      `job_title_cn` = #{record.jobTitleCn,jdbcType=VARCHAR},
      `position` = #{record.position,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhzc.app.dao.mybatis.model.Planner" >
    update `planner`
    <set >
      <if test="uid != null" >
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="workNum != null" >
        `work_num` = #{workNum,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        `department_id` = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        `avatar` = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        `role_id` = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="entryTime != null" >
        `entry_time` = #{entryTime,jdbcType=DATE},
      </if>
      <if test="leaveTime != null" >
        `leave_time` = #{leaveTime,jdbcType=DATE},
      </if>
      <if test="mdUid != null" >
        `md_uid` = #{mdUid,jdbcType=INTEGER},
      </if>
      <if test="subMgUid != null" >
        `sub_mg_uid` = #{subMgUid,jdbcType=INTEGER},
      </if>
      <if test="mgUid != null" >
        `mg_uid` = #{mgUid,jdbcType=INTEGER},
      </if>
      <if test="areaUid != null" >
        `area_uid` = #{areaUid,jdbcType=INTEGER},
      </if>
      <if test="dept1 != null" >
        `dept_1` = #{dept1,jdbcType=INTEGER},
      </if>
      <if test="dept2 != null" >
        `dept_2` = #{dept2,jdbcType=INTEGER},
      </if>
      <if test="dept3 != null" >
        `dept_3` = #{dept3,jdbcType=INTEGER},
      </if>
      <if test="dept4 != null" >
        `dept_4` = #{dept4,jdbcType=INTEGER},
      </if>
      <if test="jobTitleCn != null" >
        `job_title_cn` = #{jobTitleCn,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        `position` = #{position,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhzc.app.dao.mybatis.model.Planner" >
    update `planner`
    set `uid` = #{uid,jdbcType=INTEGER},
      `work_num` = #{workNum,jdbcType=VARCHAR},
      `department_id` = #{departmentId,jdbcType=INTEGER},
      `avatar` = #{avatar,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=CHAR},
      `role_id` = #{roleId,jdbcType=INTEGER},
      `entry_time` = #{entryTime,jdbcType=DATE},
      `leave_time` = #{leaveTime,jdbcType=DATE},
      `md_uid` = #{mdUid,jdbcType=INTEGER},
      `sub_mg_uid` = #{subMgUid,jdbcType=INTEGER},
      `mg_uid` = #{mgUid,jdbcType=INTEGER},
      `area_uid` = #{areaUid,jdbcType=INTEGER},
      `dept_1` = #{dept1,jdbcType=INTEGER},
      `dept_2` = #{dept2,jdbcType=INTEGER},
      `dept_3` = #{dept3,jdbcType=INTEGER},
      `dept_4` = #{dept4,jdbcType=INTEGER},
      `job_title_cn` = #{jobTitleCn,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.fhzc.app.dao.mybatis.model.PlannerExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `planner`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>