<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhzc.app.dao.mybatis.inter.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.fhzc.app.dao.mybatis.model.Report" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="is_display" property="isDisplay" jdbcType="INTEGER" />
    <result column="is_recommend" property="isRecommend" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fhzc.app.dao.mybatis.model.Report" extends="BaseResultMap" >
    <result column="summary" property="summary" jdbcType="LONGVARCHAR" />
    <result column="desc" property="desc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    `id`, `cid`, `name`, `cover`, `url`, `ctime`, `is_del`, `is_display`, `is_recommend`
  </sql>
  <sql id="Blob_Column_List" >
    `summary`, `desc`
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.fhzc.app.dao.mybatis.model.ReportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `report`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fhzc.app.dao.mybatis.model.ReportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `report`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `report`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `report`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fhzc.app.dao.mybatis.model.ReportExample" >
    delete from `report`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fhzc.app.dao.mybatis.model.Report" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `report` (`cid`, `name`, `cover`, 
      `url`, `ctime`, `is_del`, 
      `is_display`, `is_recommend`, `summary`, 
      `desc`)
    values (#{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER}, 
      #{isDisplay,jdbcType=INTEGER}, #{isRecommend,jdbcType=INTEGER}, #{summary,jdbcType=LONGVARCHAR}, 
      #{desc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fhzc.app.dao.mybatis.model.Report" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `report`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        `cid`,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="cover != null" >
        `cover`,
      </if>
      <if test="url != null" >
        `url`,
      </if>
      <if test="ctime != null" >
        `ctime`,
      </if>
      <if test="isDel != null" >
        `is_del`,
      </if>
      <if test="isDisplay != null" >
        `is_display`,
      </if>
      <if test="isRecommend != null" >
        `is_recommend`,
      </if>
      <if test="summary != null" >
        `summary`,
      </if>
      <if test="desc != null" >
        `desc`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isDisplay != null" >
        #{isDisplay,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fhzc.app.dao.mybatis.model.ReportExample" resultType="java.lang.Integer" >
    select count(*) from `report`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `report`
    <set >
      <if test="record.id != null" >
        `id` = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null" >
        `cid` = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.cover != null" >
        `cover` = #{record.cover,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        `url` = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.ctime != null" >
        `ctime` = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDel != null" >
        `is_del` = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.isDisplay != null" >
        `is_display` = #{record.isDisplay,jdbcType=INTEGER},
      </if>
      <if test="record.isRecommend != null" >
        `is_recommend` = #{record.isRecommend,jdbcType=INTEGER},
      </if>
      <if test="record.summary != null" >
        `summary` = #{record.summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.desc != null" >
        `desc` = #{record.desc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update `report`
    set `id` = #{record.id,jdbcType=INTEGER},
      `cid` = #{record.cid,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      `cover` = #{record.cover,jdbcType=VARCHAR},
      `url` = #{record.url,jdbcType=VARCHAR},
      `ctime` = #{record.ctime,jdbcType=TIMESTAMP},
      `is_del` = #{record.isDel,jdbcType=INTEGER},
      `is_display` = #{record.isDisplay,jdbcType=INTEGER},
      `is_recommend` = #{record.isRecommend,jdbcType=INTEGER},
      `summary` = #{record.summary,jdbcType=LONGVARCHAR},
      `desc` = #{record.desc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `report`
    set `id` = #{record.id,jdbcType=INTEGER},
      `cid` = #{record.cid,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      `cover` = #{record.cover,jdbcType=VARCHAR},
      `url` = #{record.url,jdbcType=VARCHAR},
      `ctime` = #{record.ctime,jdbcType=TIMESTAMP},
      `is_del` = #{record.isDel,jdbcType=INTEGER},
      `is_display` = #{record.isDisplay,jdbcType=INTEGER},
      `is_recommend` = #{record.isRecommend,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhzc.app.dao.mybatis.model.Report" >
    update `report`
    <set >
      <if test="cid != null" >
        `cid` = #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        `cover` = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        `url` = #{url,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        `ctime` = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        `is_del` = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isDisplay != null" >
        `is_display` = #{isDisplay,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        `is_recommend` = #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        `summary` = #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fhzc.app.dao.mybatis.model.Report" >
    update `report`
    set `cid` = #{cid,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      `cover` = #{cover,jdbcType=VARCHAR},
      `url` = #{url,jdbcType=VARCHAR},
      `ctime` = #{ctime,jdbcType=TIMESTAMP},
      `is_del` = #{isDel,jdbcType=INTEGER},
      `is_display` = #{isDisplay,jdbcType=INTEGER},
      `is_recommend` = #{isRecommend,jdbcType=INTEGER},
      `summary` = #{summary,jdbcType=LONGVARCHAR},
      `desc` = #{desc,jdbcType=LONGVARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhzc.app.dao.mybatis.model.Report" >
    update `report`
    set `cid` = #{cid,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      `cover` = #{cover,jdbcType=VARCHAR},
      `url` = #{url,jdbcType=VARCHAR},
      `ctime` = #{ctime,jdbcType=TIMESTAMP},
      `is_del` = #{isDel,jdbcType=INTEGER},
      `is_display` = #{isDisplay,jdbcType=INTEGER},
      `is_recommend` = #{isRecommend,jdbcType=INTEGER}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="ResultMapWithBLOBs" parameterType="com.fhzc.app.dao.mybatis.model.ReportExample" id="selectByExampleWithBLOBsWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `report`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.fhzc.app.dao.mybatis.model.ReportExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `report`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>