<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhzc.app.dao.mybatis.inter.RightsMapper" >
  <resultMap id="BaseResultMap" type="com.fhzc.app.dao.mybatis.model.Rights" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="spend_score" property="spendScore" jdbcType="INTEGER" />
    <result column="spend_type" property="spendType" jdbcType="CHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="supply" property="supply" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="is_ recommend" property="isRecommend" jdbcType="INTEGER" />
    <result column="notice" property="notice" jdbcType="VARCHAR" />
    <result column="advance_day" property="advanceDay" jdbcType="VARCHAR" />
    <result column="supply_phone" property="supplyPhone" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fhzc.app.dao.mybatis.model.Rights" extends="BaseResultMap" >
    <result column="summary" property="summary" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    `id`, `cid`, `name`, `spend_score`, `spend_type`, `level`, `ctime`, `supply`, `cover`, 
    `url`, `is_ recommend`, `notice`, `advance_day`, `supply_phone`
  </sql>
  <sql id="Blob_Column_List" >
    `summary`
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.fhzc.app.dao.mybatis.model.RightsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `rights`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fhzc.app.dao.mybatis.model.RightsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `rights`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `rights`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `rights`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fhzc.app.dao.mybatis.model.RightsExample" >
    delete from `rights`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fhzc.app.dao.mybatis.model.Rights" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `rights` (`cid`, `name`, `spend_score`, 
      `spend_type`, `level`, `ctime`, 
      `supply`, `cover`, `url`, 
      `is_ recommend`, `notice`, `advance_day`, 
      `supply_phone`, `summary`)
    values (#{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{spendScore,jdbcType=INTEGER}, 
      #{spendType,jdbcType=CHAR}, #{level,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, 
      #{supply,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{isRecommend,jdbcType=INTEGER}, #{notice,jdbcType=VARCHAR}, #{advanceDay,jdbcType=VARCHAR}, 
      #{supplyPhone,jdbcType=VARCHAR}, #{summary,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fhzc.app.dao.mybatis.model.Rights" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `rights`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        `cid`,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="spendScore != null" >
        `spend_score`,
      </if>
      <if test="spendType != null" >
        `spend_type`,
      </if>
      <if test="level != null" >
        `level`,
      </if>
      <if test="ctime != null" >
        `ctime`,
      </if>
      <if test="supply != null" >
        `supply`,
      </if>
      <if test="cover != null" >
        `cover`,
      </if>
      <if test="url != null" >
        `url`,
      </if>
      <if test="isRecommend != null" >
        `is_ recommend`,
      </if>
      <if test="notice != null" >
        `notice`,
      </if>
      <if test="advanceDay != null" >
        `advance_day`,
      </if>
      <if test="supplyPhone != null" >
        `supply_phone`,
      </if>
      <if test="summary != null" >
        `summary`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="spendScore != null" >
        #{spendScore,jdbcType=INTEGER},
      </if>
      <if test="spendType != null" >
        #{spendType,jdbcType=CHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="supply != null" >
        #{supply,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="notice != null" >
        #{notice,jdbcType=VARCHAR},
      </if>
      <if test="advanceDay != null" >
        #{advanceDay,jdbcType=VARCHAR},
      </if>
      <if test="supplyPhone != null" >
        #{supplyPhone,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fhzc.app.dao.mybatis.model.RightsExample" resultType="java.lang.Integer" >
    select count(*) from `rights`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `rights`
    <set >
      <if test="record.id != null" >
        `id` = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null" >
        `cid` = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.spendScore != null" >
        `spend_score` = #{record.spendScore,jdbcType=INTEGER},
      </if>
      <if test="record.spendType != null" >
        `spend_type` = #{record.spendType,jdbcType=CHAR},
      </if>
      <if test="record.level != null" >
        `level` = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.ctime != null" >
        `ctime` = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.supply != null" >
        `supply` = #{record.supply,jdbcType=VARCHAR},
      </if>
      <if test="record.cover != null" >
        `cover` = #{record.cover,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        `url` = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.isRecommend != null" >
        `is_ recommend` = #{record.isRecommend,jdbcType=INTEGER},
      </if>
      <if test="record.notice != null" >
        `notice` = #{record.notice,jdbcType=VARCHAR},
      </if>
      <if test="record.advanceDay != null" >
        `advance_day` = #{record.advanceDay,jdbcType=VARCHAR},
      </if>
      <if test="record.supplyPhone != null" >
        `supply_phone` = #{record.supplyPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null" >
        `summary` = #{record.summary,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update `rights`
    set `id` = #{record.id,jdbcType=INTEGER},
      `cid` = #{record.cid,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      `spend_score` = #{record.spendScore,jdbcType=INTEGER},
      `spend_type` = #{record.spendType,jdbcType=CHAR},
      `level` = #{record.level,jdbcType=INTEGER},
      `ctime` = #{record.ctime,jdbcType=TIMESTAMP},
      `supply` = #{record.supply,jdbcType=VARCHAR},
      `cover` = #{record.cover,jdbcType=VARCHAR},
      `url` = #{record.url,jdbcType=VARCHAR},
      `is_ recommend` = #{record.isRecommend,jdbcType=INTEGER},
      `notice` = #{record.notice,jdbcType=VARCHAR},
      `advance_day` = #{record.advanceDay,jdbcType=VARCHAR},
      `supply_phone` = #{record.supplyPhone,jdbcType=VARCHAR},
      `summary` = #{record.summary,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `rights`
    set `id` = #{record.id,jdbcType=INTEGER},
      `cid` = #{record.cid,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      `spend_score` = #{record.spendScore,jdbcType=INTEGER},
      `spend_type` = #{record.spendType,jdbcType=CHAR},
      `level` = #{record.level,jdbcType=INTEGER},
      `ctime` = #{record.ctime,jdbcType=TIMESTAMP},
      `supply` = #{record.supply,jdbcType=VARCHAR},
      `cover` = #{record.cover,jdbcType=VARCHAR},
      `url` = #{record.url,jdbcType=VARCHAR},
      `is_ recommend` = #{record.isRecommend,jdbcType=INTEGER},
      `notice` = #{record.notice,jdbcType=VARCHAR},
      `advance_day` = #{record.advanceDay,jdbcType=VARCHAR},
      `supply_phone` = #{record.supplyPhone,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhzc.app.dao.mybatis.model.Rights" >
    update `rights`
    <set >
      <if test="cid != null" >
        `cid` = #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="spendScore != null" >
        `spend_score` = #{spendScore,jdbcType=INTEGER},
      </if>
      <if test="spendType != null" >
        `spend_type` = #{spendType,jdbcType=CHAR},
      </if>
      <if test="level != null" >
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        `ctime` = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="supply != null" >
        `supply` = #{supply,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        `cover` = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        `url` = #{url,jdbcType=VARCHAR},
      </if>
      <if test="isRecommend != null" >
        `is_ recommend` = #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="notice != null" >
        `notice` = #{notice,jdbcType=VARCHAR},
      </if>
      <if test="advanceDay != null" >
        `advance_day` = #{advanceDay,jdbcType=VARCHAR},
      </if>
      <if test="supplyPhone != null" >
        `supply_phone` = #{supplyPhone,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        `summary` = #{summary,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fhzc.app.dao.mybatis.model.Rights" >
    update `rights`
    set `cid` = #{cid,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      `spend_score` = #{spendScore,jdbcType=INTEGER},
      `spend_type` = #{spendType,jdbcType=CHAR},
      `level` = #{level,jdbcType=INTEGER},
      `ctime` = #{ctime,jdbcType=TIMESTAMP},
      `supply` = #{supply,jdbcType=VARCHAR},
      `cover` = #{cover,jdbcType=VARCHAR},
      `url` = #{url,jdbcType=VARCHAR},
      `is_ recommend` = #{isRecommend,jdbcType=INTEGER},
      `notice` = #{notice,jdbcType=VARCHAR},
      `advance_day` = #{advanceDay,jdbcType=VARCHAR},
      `supply_phone` = #{supplyPhone,jdbcType=VARCHAR},
      `summary` = #{summary,jdbcType=LONGVARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhzc.app.dao.mybatis.model.Rights" >
    update `rights`
    set `cid` = #{cid,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      `spend_score` = #{spendScore,jdbcType=INTEGER},
      `spend_type` = #{spendType,jdbcType=CHAR},
      `level` = #{level,jdbcType=INTEGER},
      `ctime` = #{ctime,jdbcType=TIMESTAMP},
      `supply` = #{supply,jdbcType=VARCHAR},
      `cover` = #{cover,jdbcType=VARCHAR},
      `url` = #{url,jdbcType=VARCHAR},
      `is_ recommend` = #{isRecommend,jdbcType=INTEGER},
      `notice` = #{notice,jdbcType=VARCHAR},
      `advance_day` = #{advanceDay,jdbcType=VARCHAR},
      `supply_phone` = #{supplyPhone,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="ResultMapWithBLOBs" parameterType="com.fhzc.app.dao.mybatis.model.RightsExample" id="selectByExampleWithBLOBsWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `rights`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.fhzc.app.dao.mybatis.model.RightsExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `rights`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>