<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhzc.app.dao.mybatis.inter.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="com.fhzc.app.dao.mybatis.model.SystemLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="request_ip" property="requestIp" jdbcType="VARCHAR" />
    <result column="exception_code" property="exceptionCode" jdbcType="VARCHAR" />
    <result column="exception_detail" property="exceptionDetail" jdbcType="VARCHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    `id`, `user_id`, `description`, `method`, `type`, `level`, `request_ip`, `exception_code`, 
    `exception_detail`, `params`, `create_time`
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fhzc.app.dao.mybatis.model.SystemLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `system_log`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `system_log`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `system_log`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fhzc.app.dao.mybatis.model.SystemLogExample" >
    delete from `system_log`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fhzc.app.dao.mybatis.model.SystemLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `system_log` (`user_id`, `description`, `method`, 
      `type`, `level`, `request_ip`, 
      `exception_code`, `exception_detail`, `params`, 
      `create_time`)
    values (#{userId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{requestIp,jdbcType=VARCHAR}, 
      #{exceptionCode,jdbcType=VARCHAR}, #{exceptionDetail,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fhzc.app.dao.mybatis.model.SystemLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `system_log`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        `user_id`,
      </if>
      <if test="description != null" >
        `description`,
      </if>
      <if test="method != null" >
        `method`,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="level != null" >
        `level`,
      </if>
      <if test="requestIp != null" >
        `request_ip`,
      </if>
      <if test="exceptionCode != null" >
        `exception_code`,
      </if>
      <if test="exceptionDetail != null" >
        `exception_detail`,
      </if>
      <if test="params != null" >
        `params`,
      </if>
      <if test="createTime != null" >
        `create_time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null" >
        #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="exceptionCode != null" >
        #{exceptionCode,jdbcType=VARCHAR},
      </if>
      <if test="exceptionDetail != null" >
        #{exceptionDetail,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fhzc.app.dao.mybatis.model.SystemLogExample" resultType="java.lang.Integer" >
    select count(*) from `system_log`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `system_log`
    <set >
      <if test="record.id != null" >
        `id` = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        `user_id` = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        `description` = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.method != null" >
        `method` = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        `type` = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        `level` = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.requestIp != null" >
        `request_ip` = #{record.requestIp,jdbcType=VARCHAR},
      </if>
      <if test="record.exceptionCode != null" >
        `exception_code` = #{record.exceptionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.exceptionDetail != null" >
        `exception_detail` = #{record.exceptionDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.params != null" >
        `params` = #{record.params,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        `create_time` = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `system_log`
    set `id` = #{record.id,jdbcType=INTEGER},
      `user_id` = #{record.userId,jdbcType=INTEGER},
      `description` = #{record.description,jdbcType=VARCHAR},
      `method` = #{record.method,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=VARCHAR},
      `level` = #{record.level,jdbcType=VARCHAR},
      `request_ip` = #{record.requestIp,jdbcType=VARCHAR},
      `exception_code` = #{record.exceptionCode,jdbcType=VARCHAR},
      `exception_detail` = #{record.exceptionDetail,jdbcType=VARCHAR},
      `params` = #{record.params,jdbcType=VARCHAR},
      `create_time` = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhzc.app.dao.mybatis.model.SystemLog" >
    update `system_log`
    <set >
      <if test="userId != null" >
        `user_id` = #{userId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        `description` = #{description,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        `method` = #{method,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        `level` = #{level,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null" >
        `request_ip` = #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="exceptionCode != null" >
        `exception_code` = #{exceptionCode,jdbcType=VARCHAR},
      </if>
      <if test="exceptionDetail != null" >
        `exception_detail` = #{exceptionDetail,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        `params` = #{params,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        `create_time` = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhzc.app.dao.mybatis.model.SystemLog" >
    update `system_log`
    set `user_id` = #{userId,jdbcType=INTEGER},
      `description` = #{description,jdbcType=VARCHAR},
      `method` = #{method,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=VARCHAR},
      `request_ip` = #{requestIp,jdbcType=VARCHAR},
      `exception_code` = #{exceptionCode,jdbcType=VARCHAR},
      `exception_detail` = #{exceptionDetail,jdbcType=VARCHAR},
      `params` = #{params,jdbcType=VARCHAR},
      `create_time` = #{createTime,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.fhzc.app.dao.mybatis.model.SystemLogExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `system_log`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>